nav {
  background-color: palegreen;
  height: 90px;
}
ol {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}
li {
  background-color: palegoldenrod;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px black;
  border-radius: 9px;
}
