section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
img {
  height: 250px;
  width: 200px;
  border-radius: 10px 50px;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 30px;
  margin: 0px 10px;
}
