nav {
  height: 90px;
  width: 100vw;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  background-image: linear-gradient(45deg, pink, powderblue);
}
nav > ol {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
ol > li {
  background-color: rgba(255, 0, 0, 0.611);
  color: aliceblue;
  padding: 10px 30px;
  font-weight: bold;
}

ol > li:hover {
  cursor: pointer;
}
ul {
  line-height: 2;
  width: 110px;
  border: 1px solid black;
  background-color: burlywood;
  padding: 10px;
  list-style: none;
  position: relative;
  left: 25%;
  border-radius: 10px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul > li {
  background-color: antiquewhite;
  margin: 3px;
  width: 50px;
  padding: 5px 10px;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

.displayList {
  display: none;
}
