.container {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.container > div {
  background-color: bisque;
  padding: 20px;
  margin: 10px;
}
img {
  border-radius: 10px;
}
