nav {
  background-color: palevioletred;
  padding: 20px;
}
ol {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
li {
  list-style: none;
  border-radius: 10px;
  background-color: orange;
  padding: 10px 20px;
}
a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: aliceblue;
}
